.actions {
  padding-top: 5rem;
  text-align: center;
  margin-top: 2rem;
}

.actions button {
  font-size: 2rem;
  border: 2px solid black;
  border-radius: 1rem;
  padding: 2rem;
  cursor: pointer;
}

.actions button:hover {
  transform: scale(1.1);
}
